%div{:style => "background: rgba(255, 255, 255, 0.8); border-radius:25px; max-width: 500px; height: 300px; width: 100%;"}/
%br/
%center
 %h3 Meoooowwwwww! 
 %h3 I can see you are currently not logged in
 %br/
 .alert.alert-info
  %p Please login using the menubar at the top
