%h1 Welcome To HashTagTrader
%p.lead= session[:name]
%p Long have we awaited your arrival, o venerable Hashtag-lovin Cat lover!New!!
%p By the way, you've just logged in.
%a{href: "/registration"} Register
