%h1 Welcome To Dashboard

/ Nav tabs
%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#dashboard"} Dashboard
  %li
    %a{"data-toggle" => "tab", :href => "#portfolio"} Portfolio
  %li
    %a{"data-toggle" => "tab", :href => "#search"} Search
  %li
    %a{"data-toggle" => "tab", :href => "#topTrader"} TopTrader
/ Tab panes
.tab-content
  #dashboard.tab-pane.fade.in.active Dashboard
  #portfolio.tab-pane.fade Portfolio
  #search.tab-pane.fade Search
  #topTrader.tab-pane.fade TopTrader
