%html
  %head
    = bootstrap_assets
  %body
    .navbar
      .navbar-inner
        .container
          / .btn-navbar is used as the toggle for collapsed navbar content
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / Be sure to leave the brand out there if you want it shown
          %a.brand{href: "#"} #Trader Panther
          / Everything you want hidden at 940px or less, place within here
          .nav-collapse.collapse
            %ul.nav.pull-right
              %li.active
                %a{href: "#"} Register
              %li
                %a{href: "#"} Login
