%html
  %head
    = bootstrap_assets
  %body
    .navbar
      .navbar-inner
        .container
          / .btn-navbar is used as the toggle for collapsed navbar content
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / Be sure to leave the brand out there if you want it shown
          %a.brand{href: "#"} #Trader Panther
          / Everything you want hidden at 940px or less, place within here
          .nav-collapse.collapse
            %ul.nav.pull-right
              %li.active
                %a{href: "#"} Register
              %li
                %a{href: "#"} Login

  %br/             

.container{style: "width: 25%;"}
  .row
    .col-md-6.col-md-offset-3
      .well.well-sm
        %form.form-horizontal{action: "", method: "post"}
          %fieldset
            %legend.text-center Sign In
            / Name input
            %center
              .form-group
              %label{:for => "exampleInputEmail1"} Username or Email
              %input#exampleInputEmail1.form-control{:placeholder => "Enter email", :style => "border-radius:0px", :type => "text"}
              .form-group
                %br/
                %label{:for => "exampleInputPassword1"}
                  Password
                  %a{:href => "/sessions/forgot_password"} (forgot password)
                %input#exampleInputPassword1.form-control{:placeholder => "Password", :style => "border-radius:0px", :type => "text"}
                %br/ 
                %br/
                %button.btn.btn-sm.btn-default{:type => "submit"} Sign in