%h1 This is registeration page.

%br/
%br/


%form.form-horizontal
  .control-group
    %label.control-label{for: "inputEmail"} Email
    .controls
      %input#inputEmail{placeholder: "Email", type: "text"}/
  .control-group
    %label.control-label{for: "inputPassword"} Password
    .controls
      %input#inputPassword{placeholder: "Password", type: "password"}/
  .control-group
    %label.control-label{for: "favoriteCars"} Favorite Cat Breed
    .controls
      %label.checkbox.inline
        %input#inlineCheckbox1{:type => "checkbox", :value => "Abyssinian"}
          Abyssinian
      %label.checkbox.inline
        %input#inlineCheckbox2{:type => "checkbox", :value => "Aegean_Cat"}
          Aegean Cat
      %label.checkbox.inline
        %input#inlineCheckbox3{:type => "checkbox", :value => "Burmese"}
          Burmese
    .controls
      %label.checkbox.inline
        %input#inlineCheckbox4{:type => "checkbox", :value => "Cyprus_Cat"}
          Cyprus Cat
      %label.checkbox.inline
        %input#inlineCheckbox5{:type => "checkbox", :value => "Himalayan"}
          Himalayan
      %label.checkbox.inline
        %input#inlineCheckbox6{:type => "checkbox", :value => "Korat"}
          Korat
    .controls
      %label.checkbox.inline
        %input#inlineCheckbox7{:type => "checkbox", :value => "LaPerm"}
          LaPerm
      %label.checkbox.inline
        %input#inlineCheckbox8{:type => "checkbox", :value => "Munchkin"}
          Munchkin
      %label.checkbox.inline
        %input#inlineCheckbox9{:type => "checkbox", :value => "Ragamuffin"}
          Ragamuffin
    .controls
      %label.checkbox.inline
        %input#inlineCheckbox10{:type => "checkbox", :value => "Scttish_Fold"}
          Scttish Fold
      %label.checkbox.inline
        %input#inlineCheckbox11{:type => "checkbox", :value => "Snowshoe"}
          Snowshoe
      %label.checkbox.inline
        %input#inlineCheckbox12{:type => "checkbox", :value => "Toyger"}
          Toyger
  .control-group
    .controls
      %label.checkbox
        %input{type: "checkbox"} Remember me
      %button.btn{type: "submit"} Sign in
